<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>CSV Analyzer</title>
     <link href="style.css" rel="stylesheet" type="text/css">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
     <script type="text/javascript" src="csv.js"></script>
     <script type="text/javascript" src="main.js"></script>
     <script type="text/html" id='fillTable'>
     </script>
  </head>

  <body>
    <header>
      <h1 id="title">CSV Analyzer</h1>
    </header>

    <div class="content-up">
      <div id="description">
        <p>
          Write a CSV string in the text area. After clicking the button, the 
          application will output a table with the specified data.
        </p>
        <p>
          You will be available to drag and drop a file in the textarea to dump
          the content to it.
        </p>
      </div>
      <div class="form">
        <form id="inputform">
          <table>
            <tr>
              <div class="examplesbuttons">
                <button type="button" id="input1"><b>input1</b></button>
                <button type="button" id="input2"><b>input2</b></button>
                <button type="button" id="input3"><b>input3</b></button>
                <button type="button" id="input4"><b>input4</b></button>
              </div>
            </tr>
            <tr>
              <td><textarea name="textareaContent" id="original"></textarea></td> 
            </tr>
          </table>
          <button id="sendbutton" type="submit"><b>Parse</b></button><br>
        </form>
      </div>

      <div class="content-down">
        <span class="output" id="finaltable"></span>
      </div>
    </div>

    <footer class="footer">
      <ul>
        <li><a target="_blank" href=""><b>Author</b></a></li>
        <li><a target="_blank" href="https://github.com/tewatenerife/Comma-Separated-Values/"><b>Github</b></a></li>
        <li><a target="_blank" href=""><b>Tests</b></a></li>
      </ul>
    </footer>

  </body>
</html>
